/*-- header--*/
.toolbar{
	    float: left;
	    background: #eeeeee;
	    width: 100%;
	    height: 43px;
	    border-bottom: 1px solid #dcdcdc;
}
.search_wrap{
	float: right;
    width: 100%;
    max-width: 432px;
    margin-top: 6px;
}
.search{
    float: left;
    width: 100%;
    max-width: 306px;
    height: 31px;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    background: #fff;
}
.search img {
    float: right;
    margin: 8px;
}
.search input {
    float: left;
    border: none;
    height: 29px;
    width: 100%;
    max-width: 200px;
    margin-left: 12px;
}
.view_way{
	float: left;
    width: 100%;
    max-width: 120px;
    margin-left: 2px;
    height: 32px;
    background: #1788d6;
    color: #fff;
    font-family: Roboto Bold;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
}
.view_way_img{
	height: 29px;
    width: 100%;
    max-width: 28px;
    background: #0d70b5;
    border-radius: 3px 0 0px 3px;
    float: left;
}
.view_way_img img {
    margin: 8px;
    float: left;
}
.view_way span {
    margin: 6px;
    float: left;
}